*.iml
.gradle
/local.properties
.idea
.DS_Store
/build
*/build
/captures
.externalNativeBuild
.cxx
local.properties
/iOSSDK/Pods
/iOSSDK/SuprsendCore.xcframework
/ECommerceAppSwiftUI/Pods
/ECommerceAppSwiftUI/SuprsendCore.xcframework
/ECommerceAppSwiftUI/SuprSendSdk.framework