<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>931225878874-vr6ip93ojiuq7pm257vliphqfnf2kah5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.931225878874-vr6ip93ojiuq7pm257vliphqfnf2kah5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>931225878874-84magkrr0ktj93t1vg63vfqqkotl8pi5.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAtSE0Nvuqu1k2p0bUnAjig_i4wEQPqayg</string>
	<key>GCM_SENDER_ID</key>
	<string>931225878874</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>suprsend.ecommerce</string>
	<key>PROJECT_ID</key>
	<string>suprsendsdk</string>
	<key>STORAGE_BUCKET</key>
	<string>suprsendsdk.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:931225878874:ios:8d7c87720e77714014f363</string>
</dict>
</plist>